[submodule "example/rows_condition_validation/etl-pipeline/src/dsm_kedro_plugin"]
	path = example/rows_condition_validation/etl-pipeline/src/dsm_kedro_plugin
	url = https://github.com/storemesh/dsm_kedro_plugin.git
[submodule "tutorial/02_dsm_kedro/dsm_kedro/etl-pipeline/src/dsm_kedro_plugin"]
	path = tutorial/02_dsm_kedro/dsm_kedro/etl-pipeline/src/dsm_kedro_plugin
	url = https://github.com/storemesh/dsm_kedro_plugin.git
